h1{
    text-align: center;
    color: tomato;
    font-weight: bolder;
    font-size: 40px;
    font-style: italic;
    

}
h2,span{
    font-family: monospace;
    font-weight: bold;
    font-style: italic;
    display: block;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#selectedColor{
    padding: 10px;
    color: white;
    border-radius: 8px;
}

.box{
    height: 250px;
    width: 100px;
}




















/* #container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 100px;
    height:300px;
}

h1, span{
    font-family: monospace;
    font-size:  2em;
    display: inline-block;
}
#selectedColor{
    /* background-color: green; 
    color: #fff;
    padding: 10px;
    border-radius: 8px;
} */